@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 40%;
    margin: auto;
    padding: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}